<div class="accordion" [class.width]="minWidth">
  <mat-toolbar fxLayoutAlign="center center">{{training.Name}}</mat-toolbar>
  <mat-accordion *ngIf="training">
    <mat-expansion-panel *ngFor="let chapter of training.TrainingChapters" [expanded]="videoPlayerService.currentChapter === chapter">
      <mat-divider></mat-divider>
      <mat-expansion-panel-header>
        <mat-panel-title class="chapter-text">
          {{chapter.FolderName}}
        </mat-panel-title>
        <div class="movies-number">{{chapter.MoviesCompleted}}/{{chapter.TrainingMovies.length}}</div>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a *ngFor="let movie of chapter.TrainingMovies" mat-list-item (click)="updatePlaylist(training, movie, chapter)" 
          [class.highlight]="movie === videoPlayerService.currentMovie">
          <mat-icon *ngIf="movie === videoPlayerService.currentMovie" class="color-easylearns" [class.color-black]="movie === videoPlayerService.currentMovie">play_arrow</mat-icon>
          <span class="movie-text">{{movie.FileName}}</span>
          <mat-icon class="color-easylearns video-completed" [class.color-black]="movie === videoPlayerService.currentMovie"
            *ngIf="movie.IsCompleted || movie.Seen">check_circle</mat-icon>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>