<div #content>
  <mat-drawer-container class="example-container" autosize scrollable *ngIf="training">
    <mat-drawer #drawer opened="true" class="example-sidenav" mode="side">
        <button type="button" mat-button class="close-drawer-mobile" (click)="drawer.toggle()" style="right: 0; color: #212121; position: absolute; z-index: 1;">
            <mat-icon *ngIf="drawer.opened">close</mat-icon>
          </button>
          <div class="margin-top">
              <app-table-of-contents [training]="training" ></app-table-of-contents>
          </div>
    </mat-drawer>
    <div class="example-sidenav-content" (document:mousemove)="hideControls()">
      <div class="video-buttons" [hidden]="!showControls">
        <button type="button" mat-button (click)="drawer.toggle()" style="left: 0; color: #212121; position: absolute; z-index: 1; height: 100%;">
          <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
          <mat-icon *ngIf="drawer.opened">close</mat-icon>
        </button>
        <div>
          <div *ngIf="!drawer.opened" class="bar-chapter-title">{{videoPlayerService.currentChapter.FolderName}}</div>
        </div>
        <button type="button" mat-button routerLink="/training-landing-page/{{training.TrainingId}}" style="font-weight: bold; height: 100%; color: #212121; right: 0; position: absolute; z-index: 1;">
          <mat-icon *ngIf="drawer.opened">arrow_back</mat-icon><span *ngIf="!drawer.opened">Back to Dashboard</span> 
        </button>
        <div *ngIf="!drawer.opened" class="bar-movie-title">{{videoPlayerService.currentMovie.FileName}}</div>
      </div>
      <app-video-player [training]="training" [showControls]="showControls" [content]="content" [drawer]="drawer"></app-video-player>
    </div>
  </mat-drawer-container>
</div>