@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.example-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
  }
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
}
  
.example-sidenav {
    padding: 20px;
    background-color: #F2F3F5 !important;
  }

video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sidenav-menu {
    color: #212121; 
    position: absolute; 
    z-index: 1
}