<mat-toolbar class="toolbar" *ngIf="navbarService.visible">
    <img routerLink="/trainings" class="logo" src="../assets/logo-easylearns.png">
    <div *ngIf="this.router.url === '/trainings'">
      <mat-form-field style="width: 250px; margin-left: 20px; margin-top: 17px;">
          <input #searchBox 
            [(ngModel)]="searchBoxValue"
            class="searchbox" 
            matInput 
            [matAutocomplete]="auto" 
            placeholder=" Search..." 
            (click)="updateOptions(searchBox.value)"
            (keyup)="handle($event, searchBox.value);">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="executeSearch(searchBox.value)">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      <a style="cursor: pointer;
         position: absolute;
         top: 25px;
         left: 340px;"

        (click)="executeSearch(searchBox.value)"> 
        <mat-icon>
          search
        </mat-icon>
      </a>
    </div>
    <span class="menu-detail" >
      <span class="hidden-1">{{(user$ | async).FirstName}} {{(user$ | async).LastName}}</span> 
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn">
          <mat-icon >more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="mytrainingsPage()" style="color: #212121">
            <mat-icon style="color: #212121">account_circle</mat-icon>
            <span>My Trainings</span>
        </button>
        <button mat-menu-item (click)="trainingsPage()" style="color: #212121">
          <mat-icon style="color: #212121">view_module</mat-icon>
          <span>Trainings</span>
        </button>
        <button mat-menu-item class="logout" (click)="logout()" style="color: #212121">
          <mat-icon style="color: #212121">exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar>