<!-- 
        <div class="container">

                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
      
                  <div fxFlex> I'm above on mobile, and to the left on larger devices.</div>
      
                  <div fxFlex> I'm below on mobile, and to the right on larger devices.</div>
      
                </div>
                </div> -->
<app-navbar *ngIf="authSrv.isAuthenticated()"></app-navbar>
<router-outlet></router-outlet>

