<img *ngIf="isLoading" src="../assets/spinner.gif" >
<div *ngIf="startedTrainings.length">
        <h1>Started Trainings</h1>
        <div fxLayout="row wrap" style="justify-content: center;">
                <app-training-card *ngFor="let training of startedTrainings"
                        [training]="training"></app-training-card>
        </div>
        <mat-divider></mat-divider>
</div>
<div *ngIf="finishedTrainings.length">
        <h1 *ngIf="finishedTrainings.length">Completed Trainings</h1>

        <div *ngIf="finishedTrainings.length"
                fxLayout="row wrap" style="justify-content: center;">
                <app-training-card *ngFor="let training of finishedTrainings"
                        [training]="training"></app-training-card>
        </div>
        <mat-divider></mat-divider>
</div>

<div *ngIf="newestTrainings.length">
        <div>
                <h1>Latest Added Trainings</h1>
                <button routerLink="/trainings" mat-button class="color-white my-button">Show All</button> 
        </div>
        <div *ngIf="newestTrainings.length"
                fxLayout="row wrap" style="justify-content: center;">
                <app-training-card *ngFor="let training of newestTrainings"
                        [training]="training"></app-training-card>
        </div>
</div>
