@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  min-width: 505px;
  text-align: center;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

p {
  text-align: left;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

/* toolbar */
.mat-toolbar {
  background: #58B8C6 !important;
}

.logo {
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
}

/* .toolbar-username {
    margin: 0px 20px 0px 20px;
}
 */
.searchbox {
  padding-left: 15px;
  text-align: left;
  border: 2px solid #666;
  border-radius: 5px;
  width: 230px;
  margin-right: 10px;
}

.tagSelect {
  color: black;
}

.ratingSelect {
  color: black;
}

.ratingSelect {
  width: 80px;
  margin-left: 10px;
}


.menu-detail {
  position: absolute;
  right: 16px;
}

.menu-btn {
  top: -3px;
}

.training-card {
  width: 280px;
  display: inline-block;
  margin: 20px;
  text-align: left;
  cursor: pointer;
  /* background-color: #e9eae1; */
}

.training-card:focus {
  outline: none;
}


.container {
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
}

@media only screen and (max-width: 1530px) {
  .container {
    width: 736px;
  }
}

.accordion {
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-controls {
  color: black;
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: #F2F3F5;
  height: 60px;
  width: 100%;
}

.play-pause {
  position: absolute;
  z-index: 1;
  left: 0;
  margin-left: 60px;
  margin-top: 20px;
  cursor: pointer;
}

.play-pause:hover {
  color: #58B8C6;
}

.previous {
  position: absolute;
  z-index: 1;
  left: 0;
  margin-left: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.previous:hover {
  color: #58B8C6;
}

.next {
  position: absolute;
  z-index: 1;
  left: 0;
  margin-left: 90px;
  margin-top: 20px;
  cursor: pointer;
}

.next:hover {
  color: #58B8C6;
}

.time {
  position: absolute;
  z-index: 1;
  left: 0;
  padding-top: 3px;
  margin-left: 130px;
  margin-top: 20px;
  cursor: pointer;
}

.fullscreen {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.fullscreen:hover {
  color: #58B8C6;
}

.speed-slider {
  position: absolute !important;
  z-index: 1;
  right: 0;
  margin-right: 60px;
  bottom: 60px;
  visibility: visible;
  cursor: pointer;
}

.speed {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 70px;
  margin-top: 20px;
  cursor: pointer;
}

.speed:hover+.speed-slider {
  visibility: visible;
}

.speed:hover {
  color: #58B8C6;
}

.volume-slider {
  position: absolute !important;
  z-index: 1;
  right: 0;
  margin-right: 100px;
  bottom: 60px;
  cursor: pointer;
}

.volume {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 110px;
  margin-top: 20px;
  cursor: pointer;
}

.volume:hover {
  color: #58B8C6;
}

.progressbar {
  top: 0;
  width: 100%;
  background-color: #58B8C6;
  cursor: pointer;
}

.progressbarItem:hover {
  height: 10px;
}

.forward {
  position: absolute;
  z-index: 1;
  margin-left: 35px;
  margin-top: 20px;
  cursor: pointer;
  ;
}

.forward:hover {
  color: #58B8C6;
}

.replay {
  position: absolute;
  z-index: 1;
  margin-right: 35px;
  margin-top: 20px;
  cursor: pointer;
  ;
}

.replay:hover {
  color: #58B8C6;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}


.fancy-tooltip {
  font-size: 14px;
  margin-left: -20px;
}

.wordwrap {
  /* wrap long text and urls */
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  word-wrap: break-word;
  /* IE 5+ */
}

.video-buttons {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 70px;
  background-color: #F2F3F5;
}

.mat-progress-bar-fill::after {
  background-color: #58B8C6;
}

.mat-progress-bar-buffer {
  background: #e9eae1;
}

.mat-progress-bar {
  border-radius: 2px;
}

.mat-paginator-container {
  background-color: #58B8C6;
}

.movies-number {
  float: right;
  margin-right: 20px;
}

.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label,
.mat-primary .mat-slider-track-fill {
  background-color: #58B8C6;
}

.color-easylearns {
  color: #58B8C6;
}

.video-completed {
  margin-left: auto;
  margin-right: 0;
}

.very-pink circle {
  stroke: #58B8C6;
}

.selected {
  background-color: #58B8C6;
  color: white;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.bar-chapter-title {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  ;
  margin-left: 100px;
  font-weight: bold;
  float: left;
}

.bar-movie-title {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  float: left;
  display: block;
  margin-left: 100px;
  margin-top: 40px;
}

.bar-icon {
  margin-top: 7px;
  float: left;
  margin-left: 10px;
}

.highlight {
  background-color: #58B8C6;
  color: white;
}

.header {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #29303B;

}

.header-container {
  width: 100%;
  height: 350px;
  padding: 15px;
  float: left;
}

.image {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  float: right;
}

.training-progress-bar {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-top: 130px;
  width: 100%;
}

.rating {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #58B8C6;
  margin-top: 140px;
  position: absolute;
}

.mat-ink-bar {
  background-color: #58B8C6 !important;
}

.width {
  min-width: 900px;
}

:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
  /*new*/
}

#tab-group {
  height: 100%;
}

#tab-group mat-tab-body {
  flex-grow: 1;
}

body,
html {
  height: 100%;
  margin: 0;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.chapter-text {
  font-size: 1rem;
}

.movie-text {
  font-size: 0.9rem;
  margin-left: 10px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.rating-text {
  padding-top: 15px;
}

body a {
  color: black !important;
}

.paginator {
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
}

.ui-rating a {
  color: #58B8C6 !important;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1060px) {
  .width {
    min-width: 500px;
  }

  .cut-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 500px) {
  .width {
    min-width: 200px;
  }

  .cut-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    white-space: nowrap;
  }
}

.card-image {
  padding: 10px;
}

.close-drawer-mobile {
  display: none !important;
}

@media only screen and (max-width: 643px) {
  .margin-top {
    margin-top: 50px;
  }

  .close-drawer-mobile {
    display: block !important;
  }
}

@media only screen and (max-width: 960px) {
  .rating {
    margin-top: 20px;
  }

  .text-center {
    text-align: center;
  }

  .width-max {
    width: 100% !important;
  }
}

@media only screen and (max-width: 900px) {
  .hidden {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .hidden-1 {
    display: none;
  }
}

.my-button {
  float: center;
  background-color: #58B8C6;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
