<div *ngIf="videoPlayerService.currentMovie; fin">
  <video #video playsinline autoplay 
    (dblclick)="fullscreen(content)"
    (click)="playPause(video)"
    [playbackRate]="(playerSettings$ | async).speed"
    [volume]="(playerSettings$ | async).volume"
    [src]="videoPlayerService.videoUrl"
    (timeupdate)="updateProgress($event.target.currentTime)"
    [currentTime]="savedTime"
    (ended)="completedVideo(videoPlayerService.currentMovie)"
    (onmousemove)="hideControls(video)"
    (ended)="nextMovie(video)"
    (play)="setSpeed(video); setVolume(video)">
  </video>
  <mat-spinner *ngIf="video.currentTime === 0" class="very-pink spinner"></mat-spinner>
  <div class="video-controls noselect"   (mouseleave)="hideSlider()" #controls
    [hidden]="!showControls">

    <div class="progressbar" #progressBarDiv>
      <mat-progress-bar mode="determinate" #progressBar class="progressbarItem"
        (click)="seek($event, progressBarDiv, progressBar, video)"
        [value]="video.src?(video.currentTime/video.duration*100) : 0">
      </mat-progress-bar>
    </div>
    <a [class.hidden]="drawer.opened" class="previous" (click)="previousMovie(video)">
      <mat-icon>skip_previous</mat-icon>
    </a>
    <a [class.hidden]="drawer.opened" class="play-pause" (click)="playPause(video)">
      <mat-icon *ngIf="video.paused">play_arrow</mat-icon>
      <mat-icon *ngIf="!video.paused">pause</mat-icon>
    </a>
    <a  [class.hidden]="drawer.opened" class="next" (click)="nextMovie(video)">
      <mat-icon>skip_next</mat-icon>
    </a>
    <a [class.hidden]="drawer.opened" class="replay" (click)="replay(video)">
      <mat-icon>replay_5</mat-icon>
    </a>
    <a class="forward" [class.hidden]="drawer.opened" (click)="forward(video)">
      <mat-icon>forward_5</mat-icon>
    </a>
    <div [class.hidden]="drawer.opened" class="time" style="font-weight: bold; font-family: 'Roboto',
      sans-serif;">
      {{video.currentTime | time }}/{{video.duration | time }}
    </div>
    <mat-slider *ngIf="showVolumeSlider && !drawer.opened" class="volume-slider" thumbLabel
      [displayWith]="formatLabel" step="1" #volumeSlider
      [vertical]="true" [value]="(playerSettings$ | async).volume * 100"
      (change)="changeVolume(volumeSlider)" tickInterval="1" min="0" max="100"
      color="primary">
    </mat-slider>
    <a class="volume hidden" (mouseenter)="showVolumeSlider= true;">
      <mat-icon *ngIf="video.volume !== 0">volume_up</mat-icon>
      <mat-icon *ngIf="video.volume === 0">volume_mute</mat-icon>
    </a>
    <mat-slider  *ngIf="showSpeedSlider" [class.hidden]="drawer.opened" class="speed-slider" thumbLabel
      [displayWith]="formatLabel" step="0.25" #speedSlider
      [vertical]="true" [value]="(playerSettings$ | async).speed"
      (change)="changeSpeed(speedSlider)" tickInterval="1" min="0.5" max="2"
      color="primary">
    </mat-slider>
    <a [class.hidden]="drawer.opened" class="speed" (mouseenter)="this.showSpeedSlider= true;">
      <mat-icon>slow_motion_video</mat-icon>
    </a>
    <a class="fullscreen hidden" (click)="fullscreen(content)">
      <mat-icon>fullscreen</mat-icon>
    </a>
  </div>

  <ng-template *ngIf="video.src === null">
  </ng-template>
</div>