<div class="container">
  <div class="content" fxLayout="column">
    <mat-card class="login-container">
      <mat-card-title class="login-container-title" fxLayout="row" fxLayoutAlign="center center">
        <img class="logo" routerLink="/trainings" src="../assets/logo-easylearns.png">
        <div *ngIf="mode === Mode.eLogin">Login</div>
        <div *ngIf="mode === Mode.eRegister">Register</div>
      </mat-card-title>
      <mat-card-content>
        <form fxLayout="column" #loginForm="ngForm" (ngSubmit)="onLogin()" *ngIf="mode === Mode.eLogin">
          <mat-form-field>
            <input type="text" matInput placeholder="Username" [(ngModel)]="loginModel.name" [maxlength]="20" name="name"
              required>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" [(ngModel)]="loginModel.password" [maxlength]="20"
              name="password" required>
          </mat-form-field>
          <div fxFlex fxLayout="column">
            <button type="submit" class="login-button" mat-stroked-button [disabled]="!loginForm.valid">Login</button>
            <button class="login-button" mat-stroked-button (click)="mode = Mode.eRegister; hideMessageBox()">To Register</button>
          </div>
        </form>
        <form fxLayout="column" #registerForm="ngForm" (ngSubmit)="onRegister()" *ngIf="mode === Mode.eRegister">
          <mat-form-field>
            <input type="text" matInput placeholder="Username" [(ngModel)]="registerModel.userName" [maxlength]="20" name="userName"
              required>
          </mat-form-field>
          <mat-form-field>
              <input type="text" matInput placeholder="FirstName" [(ngModel)]="registerModel.firstName" [maxlength]="20" name="firstName"
                required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="LastName" [(ngModel)]="registerModel.lastName" [maxlength]="20" name="lastName"
                  required>
              </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" [(ngModel)]="registerModel.password" [maxlength]="20"
              name="password" required>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Repeat password" [(ngModel)]="repeatedPassword"
              [maxlength]="20" name="password" required>
          </mat-form-field>
          <div fxFlex fxLayout="column">
            <button type="submit" class="login-button" mat-stroked-button>Proceed</button>
            <button class="login-button" mat-stroked-button (click)="mode = Mode.eLogin; hideMessageBox()">To Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <h1>Learn easy. Learn smart.</h1>
    <img *ngIf="operationInProgress==true" class="spinner" src="../assets/spinner.gif">
    <div class="message-box" 
      [ngClass]="{'warning-message' : messageType === MessageType.eWarning, 'successful-message' : messageType === MessageType.eSuccess}"
      *ngIf="showMessagebox">
      {{ message }}
    </div>
  </div>
</div>
