.login-container {
    width: 400px;
    height: 25%;
    background-color: floralwhite;
    margin: 0 auto;
}

.logo {
    height: 100%;
}

.login-container-title {
    background-color: #58B8C6;
    min-height: 40px;
    color: #1F1F1F;
    font-family: Tahoma;
    height: 50px;
 }
 
.login-container-body {
   padding: 20px;
   min-height: 200px;
}

.login-buttons-container {
    margin-top: 15px;
}

.login-button {
    transition-duration: 0.2s;
    background-color: #58B8C6;
    color: #1F1F1F;
    border-color: #C0C0C0;
    box-shadow: 1px 1px 1px #BEBEBE;
    height: 50px;
    margin-top: 10px;
}

.login-button:hover,
.login-button:focus,
.mat-stroked-button .login-button:focus
{
    background-color: #BEBEBE;
    color:#58B8C6;
}

.login-button:active
{
    transform: translate(0px,2px);
    box-shadow: 0px 0px;
}

.spinner {
    height: 40px;
    width: 40px;
    margin: auto;
}

.message-box {
    background-color: floralwhite;
    border-style: solid;
    border-width: 1px;
    border-color: #d3aaaa;
    padding: 5px;
    margin: 0 auto;
    min-width: 400px;
}

.warning-message {
    color: #ff0000;
}

.successful-message {
    color: green;
}

.container {
    background-image: url("../../../assets/EasyLearnsLoginBg.jpg");
    background-repeat: repeat-y;
}

h1 {
    font-family: Tahoma;
    font-weight: 300;
}

.content {
    margin-top: 70px;
}

mat-card {
    padding: 0px;
}

mat-card-content {
    padding: 25px;
}
