<div fxLayout="column" fxLayoutAlign="center center"  *ngFor="let comment of comments">
    <mat-card [ngStyle]="{'min-width': 'calc(900px - ' + level *50 + 'px)', 
                            'margin-left':level*50+'px'}" style="margin-top: 20px;" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{comment.User.FirstName}} {{comment.User.LastName}}</mat-card-title>
                <mat-card-subtitle>{{comment.User.UserName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{comment.Text}}
            </p>
        </mat-card-content>

        
        

    </mat-card>
    <app-comments [comments]="comment.Replys" [level]="level+1"></app-comments>
</div>