<div id="wrapper" *ngIf="training">
  <div class="header" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <button (click)="backClicked()" class="color-easylearns" mat-button
      style="float: left; height: 40px; padding-left: 5px;">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="header-container" fxLayout="column" fxLayoutAlign="center end" fxLayoutAlign.xs="center center"
      fxLayoutAlign.sm="center center">
      <div class="image">
        <img style="max-height: 250px; float: center;" [src]="constructTrainingCoverImage(training) | safeHtml" alt="">
      </div>
    </div>
    <div class="header-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center"
      fxLayoutAlign.sm="center center">
      <div class="color-white cut-text" fxLayoutAlign="start start">
        <h1 class="width-max">{{training.Name}}</h1>
      </div>
      <button style="float:left; background-color: #58B8C6; max-width: 150px;" class="color-white"
        routerLink="/trainings/{{training.TrainingId}}" mat-button><span *ngIf="!training.MoviesCompleted"> Start
          Training</span><span *ngIf="training.MoviesCompleted"> Continue Training</span></button>
      <div class="rating">
        <p class="color-white ">Your Rating:</p>
        <p-rating (onRate)="rate()" [cancel]="false" [(ngModel)]="rating"></p-rating>
      </div>
      <div class="training-progress-bar">
        <p class="color-white text-center"><b>{{training.MoviesCompleted}}</b> of <b>{{training.TotalMovies}}</b>
          items complete <a (click)="resetProgress()"
            style="color: #58B8C6 !important; margin-left: 10px; cursor: pointer;">Reset
            Progress</a></p>
        <mat-progress-bar class="width-max" mode="determinate" style="width: 75%;"
          value="{{training.MoviesCompleted?training.MoviesCompleted/training.TotalMovies*100:0}}"></mat-progress-bar>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="16px" fxFill>
    <div fxFlex="100" fxFill>
      <mat-tab-group id="tab-group" mat-stretch-tabs class="example-stretched-tabs
        mat-elevation-z4">
        <mat-tab label="Training Content">
          <div fxFlex style="padding: 16px;">
            <div fxLayoutAlign="center center">
              <app-table-of-contents [training]="training" [minWidth]="true"></app-table-of-contents>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Description" layout-fill>

          <p style="text-align: center;">{{training.Description}}</p>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
