    <div fxLayout="column" fxFill>
      <mat-card class="training-card" routerLink="/training-landing-page/{{training.TrainingId}}"
        style="width: 18rem; height: 100%;">
        <img mat-card-image class="card-image" [src]="constructTrainingCoverImage(training) | safeHtml" alt="training-cover">
        <mat-card-header>
          <mat-card-title
            style="font-size: 20px; font-weight: bold; white-space: nowrap; width: 14rem; overflow: hidden; text-overflow: ellipsis; ">
            {{training.Name}}</mat-card-title>
          <mat-card-subtitle>Level: {{levelName[training.Level]}}
          </mat-card-subtitle>
          <mat-card-subtitle>Duration: {{training.Duration | time}}
          </mat-card-subtitle>
          <mat-card-subtitle><span class="rating-text">Rating: </span>
            <mat-icon class="color-easylearns rating-star vertical-align-middle
                padding-bottom-3" *ngFor="let star of training.Rating | rating">star</mat-icon>
            <mat-icon class="color-easylearns rating-star vertical-align-middle
                padding-bottom-3" *ngFor="let star of (5 -
                floor(training.Rating)) | rating">star_border
            </mat-icon>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of training.Tags">{{tag}}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card>
    </div>
