.found-results {
    position: absolute;
    top: 85px;

    margin-left: auto;  /*centering*/
    margin-right: auto; /*the*/
    left: 0;            /*"position: absolute"*/ 
    right: 0;           /*element*/

    font-size: 18px;
    font-family: Tahoma;
    color: #666
}