<div #body style="display: flex; flex-direction: column; height: 93%;">
  <div #content style="flex: 1 0 auto; display: flex; flex-direction: column;">
    <div #filters [hidden]="searchBoxValue === ''" 
      style="background-color: #ededed;
      color: black;">
      <div class="found-results">
        {{length}} {{'result' + (length !== 1 ? 's' : '')}} found for "<b>{{searchBoxValue}}</b>"</div>

      <mat-form-field class="tagSelect" style="width: 15%; margin-top: 50px;">
        <mat-select #tagSelect placeholder="Tags" multiple [(value)]="selectedTag"
          (selectionChange)="srv.filterTrainings(searchBoxValue,
          tagSelect.value, ratingSelect.value, levelSelect.value,
          durationSelect.value)">
          <mat-option *ngFor="let tag of filterTags()" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ratingSelect" style="width: 15%; margin-right:
        10px;">
        <mat-select #ratingSelect placeholder="Rating" [(value)]="selectedRating"
          (selectionChange)="srv.filterTrainings(searchBoxValue,
          tagSelect.value, ratingSelect.value, levelSelect.value,
          durationSelect.value)">
          <mat-select-trigger>
            <mat-icon class="color-easylearns rating-star vertical-align-middle padding-bottom-3" *ngFor="let start of ratingSelect.value | rating">
                star
            </mat-icon>
            <mat-icon class="color-easylearns rating-star vertical-align-middle padding-bottom-3" *ngFor="let start of (5 - ratingSelect.value) | rating">
                star_border
            </mat-icon>
          </mat-select-trigger>
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let rating of [0, 1, 2, 3, 4, 5]" [value]="rating">
            <mat-icon style="margin: 0px;" class="color-easylearns rating-star vertical-align-middle padding-bottom-3" *ngFor="let star of rating | rating">
              star
            </mat-icon>
            <mat-icon style="margin: 0px;" class="color-easylearns rating-star vertical-align-middle padding-bottom-3" *ngFor="let star of (5 - floor(rating)) | rating">
              star_border
            </mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="levelSelect" style="width: 15%; margin-right:
        10px;">
        <mat-select #levelSelect placeholder="Level" [(value)]="selectedLevel"
          (selectionChange)="srv.filterTrainings(searchBoxValue,
          tagSelect.value,
          ratingSelect.value, levelSelect.value, durationSelect.value)">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let level of [1, 2, 3]" [value]="level">
            {{levelName[level]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="durationSelect" style="width: 15%; margin-right:
        10px;">
        <mat-select #durationSelect placeholder="Duration" [(value)]="selectedDuration"
          (selectionChange)="srv.filterTrainings(searchBoxValue,
          tagSelect.value,
          ratingSelect.value, levelSelect.value, durationSelect.value)">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let duration of [0, 1, 2, 3, 4]"
            [value]="duration">
            {{['0-2', '3-6', '7-12', '13-21', '22+'][duration] + ' Hours'}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <a 
          style="cursor: pointer;
                position: absolute;
                right: 23px;
                top: 80px;"

          (click)="messageService.sendString(''); 
                   srv.filterTrainings(searchBoxValue, undefined, undefined, undefined, undefined);"> 
        <mat-icon>
          clear
        </mat-icon>
      </a>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center">
      <div *ngIf="trainings.length !== 0" class="container"
        fxLayout="row wrap" fxFlexFill style="justify-content: center;">
        <app-training-card *ngFor="let training of trainings" [training]="training" ></app-training-card>
      </div>
    </div>
  </div>
  <mat-paginator class="paginator" [length]="length"
    [pageSize]="pageSizeOptions[pageSizeOptions.length > 1?1:0]" [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPage($event)">
  </mat-paginator>
</div>